<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <%= link_to root_path do %>
                <%= image_tag "logos/Mobilize_Logo_Comms_Special Aqua.png", size: "200x200", alt: "MUS Logo Blue" %>
            <% end %>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <p>&nbsp;</p>
                        <p style="text-align: center;"><strong>PRIVACY POLICY</strong></p>
                        <p><span style="font-weight: 400;">Protecting your private information is our priority. This Privacy Policy applies to Blueprint 108 LLC (DBA Mobilize Comms), a Colorado Limited Liability Company (the &ldquo;</span><strong>Company</strong><span style="font-weight: 400;">&rdquo;), and describes how the Company will gather, use, and maintain your personal information.&nbsp; This Statement also applies to your use of the Services offered by the Company (as defined in the Terms and Conditions) the website operated by the Company, www.mobilizecomms.com (the &ldquo;</span><strong>Site</strong><span style="font-weight: 400;">&rdquo;), as well as your use of any mobile applications (whether iOS or Android) offered by Company (the &ldquo;</span><strong>Apps</strong><span style="font-weight: 400;">&rdquo;).&nbsp; Collectively, the Site and the Apps are referred to as the &ldquo;</span><strong>Platform</strong><span style="font-weight: 400;">.&rdquo;&nbsp; By using the Platform, you confirm that you have read and understand this Privacy Policy, as well as Company&rsquo;s Terms and Conditions.&nbsp; The Terms and Conditions are hereby incorporated by reference into this Privacy Policy as if set forth fully herein.</span></p>
                        <p>&nbsp;</p>
                        <p><strong>General Definitions</strong></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">In addition to the terms defined above, the following terms have the meanings described below as follows:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><strong>&ldquo;&ldquo;We,&rdquo; &ldquo;our,&rdquo; </strong><span style="font-weight: 400;">or </span><strong>&ldquo;us&rdquo;</strong><span style="font-weight: 400;"> refers to the Company and the Company&rsquo;s use of the Platform;</span></li>
                        <li style="font-weight: 400;"><strong>&ldquo;User&rdquo; </strong><span style="font-weight: 400;">or </span><strong>&ldquo;Users&rdquo; </strong><span style="font-weight: 400;">refers to individuals who are users of the Platform;</span></li>
                        <li style="font-weight: 400;"><strong>&ldquo;You&rdquo; </strong><span style="font-weight: 400;">or</span><strong> &ldquo;your&rdquo;</strong><span style="font-weight: 400;"> refers to you, the individual, or if you are accessing the Platform on behalf of a company, the company for whom you are acting, the User of the Platform.</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>LEGAL BASIS FOR COLLECTING AND PROCESSING YOUR INFORMATION.</strong></p>
                        <p><span style="font-weight: 400;">Under the GDPR and Data Protection Act, we are only allowed to use personal information if we have a proper reason or &lsquo;legal basis&rsquo; to do so. In the case of the Platform, these legal grounds are:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">where you have given your consent, for example, you have asked to sign-up for an account with us to use the Platform.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Where you to provide &ldquo;special category (sensitive) personal data,&rdquo; we must rely on an additional &lsquo;legal basis&rsquo; for the processing of that data, which will be:</span></li>
                        </ul>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">where you have given your&nbsp;</span><strong>explicit&nbsp;</strong><span style="font-weight: 400;">consent, for example, where we have chosen to provide specific and optional information about yourself (such your ethnicity or racial origin), when you choose to take part in certain surveys, consultations or other research through the Platform; and</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">where it is necessary for equality of opportunity or treatment, for example, so we can ensure that the views of all sections of the community population are given proper representation.</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>COLLECTION AND USE OF YOUR PERSONAL INFORMATION</strong></p>
                        <p><span style="font-weight: 400;">Without limitation, in order to better provide you with products and services offered through the Platform, and to facilitate payment for services, we will be required collect personally identifiable information, such as your:</span></p>
                        <p>&nbsp;</p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">First and Last Name</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Email Address</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Phone Number</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Street Address</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">City</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Zip Code</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Billing and payment information (bank account information, credit and/or debit card information, and other such information necessary to facilitate payment).</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services available through the Platform. These may include, but are not limited to: (a) registering for an account on the Platform; (b) entering a sweepstake or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when using services through the Platform. To that end, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future. </span><span style="font-weight: 400;">We may use anonymized aggregated data from any source for targeted advertising purposes, including in conjunction with third parties.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">We collect and use your personal information you provide to operate the Platform and deliver the services you have requested.</span> <span style="font-weight: 400;">We may also use your personally identifiable information to inform you of other products or services available from the Company and its affiliates.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Some Specific Uses Include:</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Payment Information:</span><span style="font-weight: 400;"> We may collect financial information such as credit card numbers, bank account information, billing information, and other similar payment information. We use only financial information that you authorize to make payments under the selected plan.&nbsp; To keep your financial information secure, the Company does not store full payment card information, and instead relies on a third party to process payment card payments.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">When Our Company processes your order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Phone Numbers:</span><span style="font-weight: 400;"> To contact customers via text message or pre-recorded messages regarding services, including notifications, updates, reminders regarding the services requested.&nbsp;&nbsp;</span></p>
                        <p>&nbsp;</p>
                        <p><strong>TRACKING USER BEHAVIOR</strong></p>
                        <p><span style="font-weight: 400;">The Company may keep track of the pages Users visit within the Platform, in order to determine what products and services are the most popular. This data is used to deliver customized content and advertising within the Platform to customers whose behavior indicates that they are interested in a particular subject area.</span></p>
                        <p><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><strong>AUTOMATICALLY COLLECTED INFORMATION</strong></p>
                        <p><span style="font-weight: 400;">Information about your computer hardware and software may be automatically collected by the Company. This information can include: User session information, your IP address, browser type, domain names, access times and referring website addresses. When using the Apps, the Company may also collect your location.&nbsp; If you do not wish to share your location, you may disable location settings through the App. This information is used for the operation of the Platform, to maintain quality of the Platform, and to provide general statistics regarding use of the Platform.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Analytics information. </span><span style="font-weight: 400;">&nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We may directly collect analytics data, or use third-party analytics tools, to help us measure traffic and usage trends for the Platform. &nbsp;These tools collect information sent by your browser or mobile device, including the pages you visit and other information that assists us in improving the Platform. &nbsp;We collect and use this analytics information in aggregate form such that it cannot reasonably be manipulated to identify any particular individual User.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">How do we store your data?</span></p>
                        <p><span style="font-weight: 400;">Our Company securely stores your data on secure and encrypted servers with multi-tiered security protocols.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Our Company will keep your account data for as long as your account is active. Once this time period has expired, we will delete your data by deactivating and purging your account.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Marketing</span></p>
                        <p><span style="font-weight: 400;">Our Company would like to send you information about products and services of ours that we think you might like.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">If you have agreed to receive marketing, you may always opt out at a later date.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">You have the right at any time to stop Our Company from contacting you for marketing purposes or giving your data to other members of Our Company Group.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">If you no longer wish to be contacted for marketing purposes, please respond STOP to unsubscribe to any email.&nbsp;</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">What are your data protection rights?</span></p>
                        <p><span style="font-weight: 400;">Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">The right to access - You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">The right to rectification - You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete information you believe is incomplete.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">The right to erasure - You have the right to request that Our Company erase your personal data, under certain conditions.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">The right to restrict processing - You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">The right to object to processing - You have the right to object to Our Company's processing of your personal data, under certain conditions.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">The right to data portability - You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</span></p>
                        <p>&nbsp;</p>
                        <p style="padding-left: 30px;"><span style="font-weight: 400;">Call us at: 1-877-496-1698</span></p>
                        <p style="padding-left: 30px;"><span style="font-weight: 400;">Or write to us: </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span></p>
                        <p style="padding-left: 150px;"><span style="font-weight: 400;">Mobilize Comms</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">3000 Lawrence St Ste 130</span></p>
                        <p style="padding-left: 150px;"><span style="font-weight: 400;">Denver, Colorado 80205</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Cookies information.</span><span style="font-weight: 400;"> &nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</span></p>
                        <p><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><span style="font-weight: 400;">For further information, visit </span><a href="https://allaboutcookies.org"><span style="font-weight: 400;">allaboutcookies.org</span></a><span style="font-weight: 400;">.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">When you use the Platform, we may send one or more cookies &mdash; a small text file containing a string of alphanumeric characters &mdash; to your computer that uniquely identifies your browser and lets us help you log in faster and enhance your navigation through the site. A cookie may also convey information to us about how you use the Platform (e.g., the pages you view, the links you click and other actions you take on the Platform), and allow us or our business partners to track your usage of the Platform over time. A persistent cookie remains on your hard drive after you close your browser. &nbsp;Persistent cookies may be used by your browser on subsequent visits to the site. Persistent cookies can be removed by following your web browser&rsquo;s directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. &nbsp;However, some features of the Platform may not function properly if the ability to accept cookies is disabled.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Log file information.</span><span style="font-weight: 400;"> &nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Log file information is automatically reported by your browser or mobile device each time you access the Platform. &nbsp;When you use the Platform, our servers automatically record certain log file information. These server logs may include anonymous information such as your web request, Internet Protocol (&ldquo;IP&rdquo;) address, browser type, referring / exit pages and URLs, the number of clicks and how you interact with links on the Platform, domain names, landing pages, pages viewed, and other such information.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Clear GIFs/web beacons information.</span><span style="font-weight: 400;"> &nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">When you use the Platform, we may employ clear Graphics Interchange Format (GIF), also known as web beacons, which are used to anonymously track the online usage patterns of our Users. &nbsp;In addition, we may also use clear GIFs in HTML-based emails sent to our users to track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Platform.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Device identifiers.</span><span style="font-weight: 400;"> &nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">When you access the Platform by or through a mobile device (including but not limited to smart-phones or tablets), we may access, collect, monitor and/or remotely store one or more unique device identifiers. &nbsp;Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device&rsquo;s operating system or other software, or data sent to the device by the Company. &nbsp;A device identifier may convey information to us about how you browse and use the Platform. A device identifier may remain persistently on your device, to help you log in faster and enhance your navigation through the Platform. Some features of the Platform may not function properly if use or availability of device identifiers is impaired or disabled.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Use of information collected through technology.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We use or may use cookies, log file, device identifiers, and clear GIFs information to (a) remember information so that you will not have to re-enter it during your visit or the next time you visit the site; (b) provide custom, personalized content, and information; (c) to provide and monitor the effectiveness of the Platform; (d) monitor aggregate metrics such as the total number of visitors, traffic, and demographic patterns; and (e) diagnose or fix technology problems.</span></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>SHARING INFORMATION WITH THIRD PARTIES</strong></p>
                        <p><span style="font-weight: 400;">We may disclose aggregated information about our Users, and information that does not identify any individual, without restriction.&nbsp; We may disclose personal and business information that we collect or you provide as described in this privacy policy:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">To our affiliates;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">To fulfill the purpose for which you provide the information;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">For any other purpose disclosed by us when you provide the information;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">With your consent;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">As required by law, such as to comply with a subpoena, or similar legal process;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">If the Company is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.&nbsp;</span></li>
                        </ul>
                        <h2><strong>INTERNATIONAL TRANSFERS OF PERSONAL DATA</strong></h2>
                        <p><span style="font-weight: 400;">The personal information we collect is stored and processed in the United States, or where we or our partners, affiliates and third-party providers maintain facilities. By providing us with your personal information, you consent to the disclosure to these and overseas third parties. If you are located in a jurisdiction outside of the United States, please be aware that the personal information we collect about you will be transferred to the United States. By using the Platform, or providing us with any Personal Data, you consent to the transfer, processing and storage of your personal information in the United States, a jurisdiction in which the privacy laws may not be as comprehensive as those in the country where you reside.</span></p>
                        <p><span style="font-weight: 400;">We strive to comply with the EU-U.S. Privacy Shield Framework and Swiss-U.S. Privacy Shield Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information transferred from the European Union and Switzerland to the United States. We are working on certifying to the Department of Commerce that we will adhere to the Privacy Shield Principles. If there is any conflict between the terms in this Privacy Notice and the Privacy Shield Principles, the Privacy Shield Principles shall govern. To learn more about the Privacy Shield program, please visit <a href="https://www.privacyshield.gov/">https://www.privacyshield.gov/</a>. We are responsible for the processing of personal information we receive, and under Privacy Shield we may subsequently transfer that Information to a third party acting as an agent on our behalf. We strive to comply with the Privacy Shield Principles for all onward transfers of personal information from the EU and Switzerland, including the onward transfer liability provisions. With respect to personal information received or transferred pursuant to the Privacy Shield Framework, we are subject to the regulatory enforcement powers of the U.S. Federal Trade Commission. In certain situations, we may be required to disclose personal information in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We will ensure that any transfer of personal information from countries in the European Economic Area (EEA) to countries outside the EEA will be protected by appropriate safeguards, for example by using standard data protection clauses approved by the European Commission, or the use of binding corporate rules or other legally accepted means. You are entitled to the rights under Chapter III of the EU General Data Protection Regulation or Section 2 of the Swiss Federal Act on Data Protection with respect to the processing of your personal data, which includes the right to access and rectify and to request the erasure of Personal Data.&nbsp;To exercise these rights, contact </span><a href="mailto:support@mobilizecomms.com"><span style="font-weight: 400;">support@mobilizecomms.com</span></a><span style="font-weight: 400;"> and provide as complete a description of your request as possible.</span></p>
                        <h4><span style="font-weight: 400;">Where we transfer personal information from a non-EEA country to another country, you acknowledge that third parties in other jurisdictions may not be subject to similar data protection laws to the ones in our jurisdiction. There are risks if any such third party engages in any act or practice that would contravene the data privacy laws in our jurisdiction and this might mean that you will not be able to seek redress under our jurisdiction&rsquo;s privacy laws.</span></h4>
                        <p>&nbsp;</p>
                        <p><strong>LINKS</strong></p>
                        <p><span style="font-weight: 400;">The Platform may contain links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</span></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>SECURITY OF YOUR PERSONAL INFORMATION</strong></p>
                        <p><span style="font-weight: 400;">The Company secures your personal information from unauthorized access, use, or disclosure. The Company uses the following methods for this purpose:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The Platform is encrypted with SSL certificates</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">All Company data is hosted by Amazon Web Services, which is only accessible by the application server and the Company.</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</span></p>
                        <p><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.&nbsp; Nonetheless, to the extent allowed under law, the Company expressly disclaims any liability that may arise should any other individuals obtain the information you submit via the Platform.</span></p>
                        <p>&nbsp;</p>
                        <p><strong>DATA RETENTION, DISPOSAL, AND DESTRUCTION</strong></p>
                        <p><span style="font-weight: 400;">The Company will retain both automatically collected date and user-provided data for as long as you use the Platform and for a reasonable time thereafter.&nbsp; If you would like us to delete your user-provided data that you have provided via the Platform, please contact us at </span><a href="mailto:support@mobilizecomms.com"><span style="font-weight: 400;">support@mobilizecomms.com</span></a><span style="font-weight: 400;"> and we will respond within a reasonable time. Please note that some or all of the user-provided data may be required for the Platform to function properly.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">If a user requests the disposal/destruction of personally-identifying information, the Company will dispose of/destroy the data in accordance with the Company&rsquo;s data disposal/destruction policies.</span></p>
                        <p>&nbsp;</p>
                        <p><strong>CHILDREN</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">The&nbsp;Site is not directed towards individuals under 13 years of age and the Company does not knowingly collect any information from individuals under 13 years of age through the Site.</span></p>
                        <p>&nbsp;</p>
                        <p><strong>YOUR CALIFORNIA PRIVACY RIGHTS</strong></p>
                        <p><span style="font-weight: 400;">If you are a resident of the State of California and the Company has an established business relationship with you, then, pursuant to Section 1798.83 of the California Civil Code, you have the right to request the following at any time: (a) information from the Company free of charge regarding the manner in which the Company shares certain personal information collected through the Platform with third parties who use such information for direct marketing purposes; and (b) the discontinuation (or opt-out) of the Company sharing of such information with such third parties. Please submit any such request (&ldquo;California Privacy Rights Request&rdquo;) to any one of the following:</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By mail:&nbsp; &nbsp; </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;</span></p>
                        <p style="padding-left: 150px;"><span style="font-weight: 400;">Mobilize Comms&nbsp;</span></p>
                        <p style="padding-left: 90px;"><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">attn.: Company Owner&nbsp;</span></p>
                        <p style="padding-left: 90px;"><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp; </span><span style="font-weight: 400;">3000 Lawrence St., Ste. 130</span></p>
                        <p style="padding-left: 150px;"><span style="font-weight: 400;">Denver, CO 80205</span></p>
                        <p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By e-mail: </span></p>
                        <p style="padding-left: 150px;"><a href="mailto:support@mobilizecomms.com"><span style="font-weight: 400;">support@mobilizecomms.com</span></a><span style="font-weight: 400;"> with a subject line of &ldquo;Your California Privacy Rights.&rdquo;</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">For each California Privacy Rights Request, please state &ldquo;Your California Privacy Rights&rdquo; in the e-mail or letter subject line, and clearly state the following in the body:</span></p>
                        <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">the nature of your request;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">that the request is related to &ldquo;Your California Privacy Rights;&rdquo;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">your name, street address, city, state, zip code, and e-mail address; and</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">whether you prefer to receive a response to your request by mail or e-mail.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">If you send a California Privacy Rights Request by mail, then please do so by U.S. Certified Mail, Return Receipt Requested to allow for confirmation of mailing, delivery and tracking. The Company will not accept a California Privacy Rights Request via telephone or fax; and is not responsible for a California Privacy Rights Request that is incomplete, incorrectly labeled, or incorrectly sent.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">You are solely responsible for the accuracy and content of your personal information, and for keeping your personal information current and correct.</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p><strong>CHOICES ABOUT YOUR INFORMATION</strong></p>
                        <p><span style="font-weight: 400;">You control your account information and settings.</span><span style="font-weight: 400;">&nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">You may update your profile information and email-communication preferences at any time by logging in to your account. &nbsp;You can also stop receiving promotional email communications from us by clicking on the &ldquo;unsubscribe link&rdquo; provided in such communications. We make every effort to promptly process all unsubscribe requests. As noted above, you may not opt out of Service-related communications (e.g., account verification, purchase and billing confirmations and reminders, changes/updates to features of the Platform, technical and security notices). &nbsp;If you have any questions about reviewing or modifying your account information, you can contact us directly through the message center.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Tracking Technology.</span><span style="font-weight: 400;"> &nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">The Platform does not respond to &ldquo;do not track&rdquo; (DNT) signals. The only way to completely opt out of the collection of any information through cookies or other tracking technology is to actively manage the settings on your browser or mobile device. &nbsp;Please refer to your mobile device or browser&rsquo;s technical information for instructions on how to delete and disable cookies, and other tracking/recording tools. To learn more about cookies, clear GIFs/web beacons and related technologies, you may wish to visit http://www.allaboutcookies.org and/or the Network Advertising Initiative&rsquo;s online resources, located at http://www.networkadvertising.org. Depending on your type of device, it may not be possible to delete or disable tracking mechanisms on your mobile device. Note that disabling cookies and/or other tracking tools prevents this organization and its partners from tracking your browser&rsquo;s activities in relation to the Platform. However, doing so may disable many of the features available through the Platform. If you have any questions about opting out of the collection of cookies and other tracking/recording tools, you can contact us directly through the message center.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Following termination or deactivation of your User account.</span><span style="font-weight: 400;">&nbsp;&nbsp;</span></p>
                        <p><span style="font-weight: 400;">We may retain your profile information and User Content following termination of your User account. &nbsp;We may also continue to display your profile information and/or personal story on the site unless you request that we discontinue use. &nbsp;Please contact us directly through the message center to request that your information be disabled from public view.&nbsp;</span></p>
                        <p>&nbsp;</p>
                        <p><strong>THIRD PARTY COLLECTION</strong></p>
                        <p><span style="font-weight: 400;">The Company does not authorize third parties to collect your personal information when you use the Platform, except as expressly stated in this Privacy Policy. TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY IS NOT RESPONSIBLE FOR, AND YOU HEREBY RELEASE THE COMPANY FROM ANY AND ALL LIABILITY WHICH MAY ARISE FROM, SUCH THIRD PARTIES&rsquo; UNAUTHORIZED COLLECTION OF YOUR PERSONAL INFORMATION.</span></p>
                        <p><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><strong>CHANGES TO THIS STATEMENT</strong></p>
                        <p><span style="font-weight: 400;">The Company reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Platform after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.</span></p>
                        <p><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><strong>CONTACT INFORMATION</strong></p>
                        <p><span style="font-weight: 400;">The Company welcomes your questions or comments regarding this Statement of Privacy. If you believe that the Company has not adhered to this Statement, please contact us.</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">Email us at:</span><a href="mailto:support@mobilizecomms.com"><span style="font-weight: 400;">support@mobilizecomms.com</span></a><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Call us:1-877-496-1698</span></p>
                        <p><span style="font-weight: 400;">Or write to us: </span></p>
                        <p style="padding-left: 120px;"><span style="font-weight: 400;">Mobilize Comms</span></p>
                        <p style="padding-left: 120px;"><span style="font-weight: 400;">3000 Lawrence St Ste. 130</span></p>
                        <p style="padding-left: 120px;"><span style="font-weight: 400;">Denver, Colorado 80205</span></p>
                        <p>&nbsp;</p>
                        <p><span style="font-weight: 400;">&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Blueprint 108 LLC &ndash; DBA Mobilize Comms</span></p>
                        <p><strong><br /><br /></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
