<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <%= link_to root_path do %>
                <%= image_tag "logos/Mobilize_Logo_Comms_Special Aqua.png", size: "200x200", alt: "MUS Logo Blue" %>
            <% end %>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <h1>
                            OUR ANTI-SPAM POLICY
                        </h1>
                        <hr/>
                        <p>Blueprint 108 LLC (DBA Mobilize Comms) (“Mobilize Comms or the Company”) group text messaging system ensures that all subscribers can opt-out quickly, easily, and permanently from unwanted SMS communications. This is done either from our website or by sending a text message from your phone with the word 'STOP’ to 94502.</p> 
                        
                        <p><strong>Our Definition of Spam</strong></p>
                        <p>We consider any unsolicited, unexpected, or unwanted text message as Spam. We believe that any type of communication sent to a subscriber about an unrelated subject, that the subscriber did not request, to be Spam.</p>
                        
                        <p><strong>Anti-Spam policy:</strong></p>
                        <p>Mobilize Comms follows an ANTI-SPAM policy for all of its communications protocols. This means that we do not condone UNSOLICITED TEXT MESSAGES; NOTIFICATIONS; ALERTS; OR ANY MESSAGES THAT YOU MAY RECEIVE FROM SOMEONE WHO SHOULD NOT HAVE YOUR MOBILE NUMBER. Please let us know about any abuse, including the sender ID, your Mobile Number (to be removed); the date and time you received it and the contents of the message. To report any abuse or violations of inappropriate use of our service, please contact us with your comments/complaints. Your report will be registered and the Client will be investigated for violations of our Anti-Spam Policy. The identity of any individual reporting abuse will be kept confidential.</p>

                        <p><strong>Anti-Spam Policy Enforcement:</strong></p>
                        <p>On our terms and conditions agreement, our Clients specifically agree NOT to use our Platform to send unsolicited Text Messages or Spam. Upon incorporating a list Clients agree on the Opt-In only policy to their list. If we suspect a violation of our Anti-Spam policy, we will contact the Client and discuss the Client options, which may range from a warning, to termination of service for that Client. To the best of our knowledge, our services adhere to ALL state and national laws regarding sending unsolicited bulk / group text messages. 
                        SPAM and ABUSE REPORT: OPT-OUT / REMOVE / UNSUBSCRIBE
                        If you wish to remove yourself from any list, please email us (at <a href="mailto:"support@mobilizecomms.com">support@mobilizecomms.com</a>) with an <strong>"OPT-OUT", "UNSUBSCRIBE", "STOP" or "REMOVE"</strong> in the subject line. You also may reply to the text Message received by using any of the aforementioned keywords. Finally, you may send a text message containing the word "STOP" to 94502 from your phone</p>

                        <p>Please let us know about any abuse, including your Mobile Number, the date and time you received it and the contents of the message. You will be removed from that list and the Client will be restricted from adding your mobile number to their list in the future. 
                        Email: <a href="mailto:"support@mobilizecomms.com">support@mobilizecomms.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

