<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= @contacts_uploaded %> contacts uploaded</h2>
        <h2><%= @contacts_updated %> contacts updated</h2>
        <h2><%= @contacts_failed %> contact uploads failed</h2>
    </body>
</html>
