<div class="middle-box text-center animated fadeInDown">

    <div>
        <%= image_tag "logos/Mobilize_Logo_Comms_Special Aqua.png", size: "200x200", alt: "MUS Logo Blue" %>
    </div>

    <h2>500</h2>
    <h3 class="font-bold">Page Not Found</h3>

    <div class="error-desc">
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>    </div>
    <br />
    <br />
    <div class="error-desc">
        <%= link_to "Take Me To My Dashboard", root_path, class: "btn btn-primary"%>
    </div>
</div>