<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Upload Confirmation</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'contacts', :action => 'new' %>">Add Contacts</a>
            </li>
            <li class="breadcrumb-item active">
                Upload Confirmation
            </li>
        </ol>
    </div>
</div>

<!-- Alert Management -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<br />

<div class="row justify-content-md-center">
    <div class="col-lg-6">
        <div class="jumbotron">
            <h2>Your Contacts Are Being Uploaded</h2>
            <br />

            <p>Once we completed uploading your contacts, we will send you an email to <%= @current_user.email %> and let you know that it is finished.</p>

            <p>Depending on how many contacts are in your upload this could take a few minutes to process.</p>

            <br />
            <div class="text-center">
                <%= link_to "Back To Contacts", contacts_overview_path, class: "btn btn-primary btn-lg"%>
            </div>
        </div>
    </div>
</div>
