// Place all the styles related to the keyword controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.talk-bubble  {
    margin: 40px;
    color: white;
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 75%;
    height: auto;
    background-color: rgb(162, 160, 160);
}

.talk-bubble-round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.talk-bubble:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
    right: auto;
    top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: rgb(162, 160, 160) transparent transparent rgb(162, 160, 160);
}

/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.message_preview_container p{
    padding: 10px;
}

.message_preview_container:before {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

#image_preview {
    max-width: 100%
}