<div class="footer">
    <div class="text-center">
        <strong>Copyright</strong> Blueprint 108 LLC | Mobilize Comms &copy; 2019-2020
    </div>
    <div class="text-center">
    <small>Mobilize Comms is a no-spam platform. Please see our <%= link_to "Privacy Policy", privacy_policy_path, target: "_blank" %>, <%= link_to "Terms Of Use", terms_conditions_path, target: "_blank" %> and <%= link_to "Anti-Spam Policy", spam_policy_path, target: "_blank" %> BY CLICKING THE LINKS.</small>
        <br />
        <small>To unsubscribe from any Mobilize Comms list text <strong>STOP</strong> to 94502 or contact <a href="http://support.mobilizeus.com" target="_blank">Support</a>. We <strong>DO NOT</strong> use or provide lists of phone numbers <strong>EVER</strong>.</small>
    </div>
</div>
